<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite verbose="0" name="restsuite">
<test verbose="1" name="RestTest">

<classes>

<class name="com.apitest.testcases.PostrestassuredTestCase"/>
<class name="com.apitest.testcases.TestRestapideleteTest"/>
</classes>

</test>

</suite>